.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.blue-background {
  background-color: #b0e0e6;
}
.purple-background {
  background-color: #dda0dd;
}
.gray-background {
  background-color: gray;
}

.btn-round {
  border-radius: 50%;
}

.round {
  border-radius: 50%;
}

button {
  font-size: 15px;
}

h1 {
  font-family: Arial;
}
p {
  font-family: Arial;
}

img {
  margin: 10px auto;
  max-width: 100%;
  display: block;
}
